<!DOCTYPE html>
<html>

<head>
  <title>Journey stream</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          gridTemplateColumns: {
            // Simple 16 column grid
            '100': 'repeat(100, minmax(0, 1fr))',
            '360': 'repeat(360, minmax(0, 1fr))'
          },
          gridTemplateRows: {
            // Simple 8 row grid
            '100': 'repeat(100, minmax(0, 1fr))',
            '180': 'repeat(180, minmax(0, 1fr))',
          }
        }
      }
    }
  </script>
</head>

<body class="w-full h-full bg-gray-200 p-4">

  <button type="button" onclick="start()"
    class="fixed bottom-10 right-10 text-gray-700 group bg-white rounded-full inline-flex items-center text-xl font-medium hover:text-white hover:bg-cyan-400 py-4 px-24">
    Start
  </button>

  <div class="text-black grid grid-cols-360 grid-rows-180 gap-4 text-sm w-full h-full" id="content"></div>



  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    var $table = $('#content')
    let tableElements = new Array(180 * 360).fill(0);

    function start() {
      socket.emit('getJourneyStreamed')
    }

    function loadTable() {
      tableElements = tableElements.map((value) => {
        let element = $(`<div>${value}</div>`);
        $table.append(element)

        return element
      })
    }

    function updateElement(index, value) {
      tableElements[index].text(value);
      tableElements[index].addClass('text-green-500 font-bold')
    }

    socket.on('message', function (message) {
      let elements = message;

      let difference = elements.map(
        (value, index) => value ==
          tableElements[index].text()
          ?
          null
          :
          { index, value }
      ).filter(v => v != null);

      difference.forEach(v => updateElement(v.index, v.value))
    });

    loadTable();
  </script>
</body>

</html>
